
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-3">
             <h3 class="ground"> <a href="admin.html"> Ground</a></h3>
              </div>
                <div class="col-sm-9 text-right">
                    <ul class="nav nav-pills navbar-right">
                        <li role="presentation" >
                            <input type="text" id="userName"  ng-model="userName" class="form-control" placeholder="User Name"/>
                            </li>
                            <li role="presentation">
                                <input type="password" id="password" ng-model="password" class="form-control" placeholder="password"/>
                            </li>
                          <li role="presentation"><a href="home.html"><span class="glyphicon glyphicon-log-in"></span> </a></li>
                    </ul>
                 
                   
                </div>
          </div>          <!--row Ends here-->
          
        
      </div>       <!--Container End here-->

  